<div id="content-container">

    <!--Page Title-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div id="page-title">
        <h1 class="page-header text-overflow">Edit permissions</h1>
    </div>

    <div id="page-content">
        <%= form_for :object, :url => {:controller => 'object_permissions_secured', :action => 'update'}, html: { class: "form-horizontal"} do |f| %>
        <div class="panel">
            <div class="panel-footer text-center">
                <a class="btn btn-danger" href="/private/profiles/<%= @object.profile_id %>/object/<%= @object.id %>">Cancel</a>
                <button class="btn btn-success" type="submit">Save</button>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <p class="bord-btm pad-ver text-main text-bold">Object information</p>
                </div>
                <div class="col-md-12">
                    <div class="form-group col-md-4">
                        <label class="col-md-3 control-label text-bold">Object:</label>
                        <div class="col-md-9">
                            <p class="form-control-static"><%= @object.object_name %></p>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label class="col-md-3 control-label text-bold">Profile:</label>
                        <div class="col-md-9">
                            <p class="form-control-static"><a href="/private/profiles/show/<%= @object.profile_id %>" ><%= @profileName %></a></p>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        
                    </div>
                </div>
                <div class="col-md-12">
                    <p class="bord-btm pad-ver text-main text-bold">Object Permissions</p>
                </div>
                <div class="col-md-3">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Read</td>
                                    <td>
                                        <div class="checkbox">
                                            <input id="object_read_record" name="object[read_record]" class="magic-checkbox" type="checkbox" <% if @object.read_record %> checked="" <% end %>>
                                            <label for="object_read_record"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Read all</td>
                                    <td>
                                        <div class="checkbox">
                                            <input id="object_read_all_record" name="object[read_all_record]" class="magic-checkbox" type="checkbox" <% if @object.read_all_record %> checked="" <% end %>>
                                            <label for="object_read_all_record"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Create</td>
                                    <td>
                                        <div class="checkbox">
                                            <input id="object_create_record" name="object[create_record]" class="magic-checkbox" type="checkbox" <% if @object.create_record %> checked="" <% end %>>
                                            <label for="object_create_record"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Edit</td>
                                    <td>
                                        <div class="checkbox">
                                            <input id="object_edit_record" name="object[edit_record]" class="magic-checkbox" type="checkbox" <% if @object.edit_record %> checked="" <% end %> >
                                            <label for="object_edit_record"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Delete</td>
                                    <td>
                                        <div class="checkbox">
                                            <input id="object_delete_record" name="object[delete_record]" class="magic-checkbox" type="checkbox" <% if @object.delete_record %> checked="" <% end %> >
                                            <label for="object_delete_record"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Approve</td>
                                    <td>
                                        <div class="checkbox">
                                            <input id="object_approve_record" name="object[approve_record]" class="magic-checkbox" type="checkbox" <% if @object.approve_record %> checked="" <% end %>>
                                            <label for="object_approve_record"></label>
                                        </div>
                                    </td>
                                </tr>
                                    
                            </tbody>
                        </table>
                    </div>
                </div> 
            </div>
            <div class="panel-footer text-center">
                
            </div>
        </div>

        <div class="panel">
            <div class="panel-footer text-center">
                 
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <p class="bord-btm pad-ver text-main text-bold">Field Permissions</p>
                </div>
                <div class="col-md-6">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Field</th>
                                    <th>Read</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @fields.each do |fd| %>
                                    <tr>
                                        <td><%= fd.field_name %></td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="fields_read_record_<%= fd.id %>" name="fields[<%= fd.field_name %>][read_record]" class="magic-checkbox" type="checkbox" <% if fd.read_record %> checked="" <% end %>>
                                                <label for="fields_read_record_<%= fd.id %>"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="fields_edit_record_<%= fd.id %>" name="fields[<%= fd.field_name %>][edit_record]" class="magic-checkbox" type="checkbox" <% if fd.edit_record %> checked="" <% end %> >
                                                <label for="fields_edit_record_<%= fd.id %>"></label>
                                            </div>
                                        </td>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center">
                <a class="btn btn-danger" href="/private/profiles/<%= @object.profile_id %>/object/<%= @object.id %>/edit">Cancel</a>
                <button class="btn btn-success" type="submit">Save</button>
            </div>
        </div>
        <% end %>
    </div>
</div>