<div class="container" ng-controller="signup-controller as controller">
  <div class="page-header">
    <h1>Signup</h1>
  </div>
  <div class="col-lg-6 col-lg-offset-3 col-md-5 col-md-offset-4 col-sm-6 col-sm-offset-3">
    <%= form_for :user, :url => {:controller => 'users', :action => 'create'}, html: { class: "form-horizontal"} do %>
      <div class="form-group" id="messages">
        <%= raw flash_message %>
      </div>
      <div class="form-group">
        <label for="user_name">Name</label>
        <input type="text" class="form-control" placeholder="Name" autofocus required name="user[name]" id="user_name"/> 
      </div>
      <div class="form-group">
        <label for="user_last_name">Last name</label>
        <input type="text" class="form-control" placeholder="Last name" required name="user[last_name]" id="user_last_name"/> 
      </div>
      <div class="form-group">
        <label for="user_nickname">Nickname</label>
        <input type="text" class="form-control" placeholder="Nickname" required name="user[nickname]" id="user_nickname"/> 
      </div>
      <div class="form-group">
        <label class="control-label" for="user_birthdate">Birthdate</label>
        <input type="text" class="form-control" name="user_birthdate" ng-model="controller.birthdate" id="user_birthdate" bs-datepicker required placeholder="Birthdate" data-autoclose="1">
      </div>
      <div class="form-group">
        <label for="user_email">Email</label>
        <input type="email" class="form-control" placeholder="Email" required name="user[email]" id="user_email"/> 
      </div>
      <div class="form-group">
        <label for="user_password">Password</label>
        <input type="password" class="form-control" placeholder="Password" required name="user[password]" id="user_password"/>
      </div>
      <div class="form-group">
        <label for="user_password_confirmation">Confirm password</label>
        <input type="password" class="form-control" placeholder="Confirm password" required name="user[password_confirmation]" id="user_password_confirmation"/>
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="user_preference[terms_of_use]" required id="user_terms_of_use"> Accept terms of use
          </label>
        </div>  
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="user_preference[email_content]" id="user_email_content"> Accept Receive content in email
          </label>
        </div>  
      </div>
      <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
      </div>
    <% end %>
    <!-- <div class="form-group">
      <a href="/auth/facebook" id="signin_facebook" class="btn btn-block btn-social btn-facebook">
        <span class="fa fa-facebook"></span> Sign in with Facebook
      </a>
    </div>
    <div class="form-group">
      <a class="btn btn-block btn-social btn-twitter" href="/auth/twitter" id="signin_twitter">
        <span class="fa fa-twitter"></span> Sign in with Twitter
      </a>
    </div>
    <div class="form-group">
      <a class="btn btn-block btn-social btn-google" href="auth/google_oauth2">
        <span class="fa fa-google"></span> Sign in with Google
      </a>
    </div> -->
  </div>
</div>


<!-- <div class="Sign_Form">
  
  <%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
    <p> Email:</br> <%= f.text_field :email%> </p>
    <p> Password:</br> <%= f.password_field :password%></p>
    <%= f.submit %>
  <% end %>
  <% if @user.errors.any? %>
    <ul class="Signup_Errors">
    <% for message_error in @user.errors.full_messages %>
      <li>* <%= message_error %></li>
    <% end %>
    </ul>
  <% end %>
</div> -->