<title><%= @platform %> - Wahiga</title>

<div style="height: 20px; background-color: #F8C175; margin-bottom: -20px; margin-top: -19px;">

</div>
<div id="news-listing" class="container">							
	<div class="section">
		<div class="row">
			<div class="col-sm-9">
				<div id="site-content" class="site-content">
					<h1 class="section-title title" style="color: #E7BB51; font-weight: bold;"><%= @platform %></h1>
					<div class="middle-content">								
						<div class="section">
							<div class="row">
							<% @articles.each do |a| %>
								<div class="col-sm-6 col-md-4"  style="margin-bottom: 20px;">
									<div class="post medium-post">
										<div class="entry-header">
											<% a.article_documents.each do |image| %>
												<% if image.document_type === "Thumb" %>
													<div class="entry-thumbnail">
														<a href="/<%= a.article_type %>/<%= a.friendly_url %>"><img class="img-responsive" src="/images/show_image/<%= image.document.id %>" alt="" /></a>
													</div>
												<% end %>
											<% end %>
										</div>
										<div class="post-content">								
											<div class="entry-meta">
												<ul class="list-inline">
													<li class="publish-date"><a href="/<%= a.article_type %>/<%= a.friendly_url %>"><i class="fa fa-clock-o"></i> <%= a.created_at %></a></li>
													<!-- <li class="views"><a href="#"><i class="fa fa-eye"></i>21k</a></li>
													<li class="loves"><a href="#"><i class="fa fa-heart-o"></i>372</a></li> -->
												</ul>
											</div>
											<h2 class="entry-title">
												<a href="/<%= a.article_type %>/<%= a.friendly_url %>"><%= a.title %></a>
											</h2>
										</div>
									</div><!--/post--> 
								</div>
								<% end %>
							</div>
						</div><!--/.lifestyle -->
					</div><!--/.middle-content-->
				</div><!--/#site-content-->
			</div>
			<div class="col-sm-3">
				<div id="sitebar">							
					<div class="widget">
						<h1 class="section-title title"><a href="listing.html" style="color: #E7BB51; font-weight: bold;">Populares</a></h1>
						<ul class="post-list">
							<% @popular.each do |p| %>
								<li>
									<div class="post small-post">
										<a href="/<%= p.article_type %>/<%= p.friendly_url %>">
										<div class="entry-header">
											<div class="entry-thumbnail">
											<% p.article_documents.each do |image| %>
												<% if image.document_type === "Thumb" %>
													<img class="img-responsive" src="/images/show_image/<%= image.document.id %>" alt="" />
												<% end %>
											<% end %>
											</div>
										</div>
										<div class="post-content">								
											<h2 class="entry-title">
												<%= truncate(p.title, length: 50, separator: ' ') %>
											</h2>
										</div>
									</div><!--/post--> 
								</li>
							<% end %>
							
						</ul>
					</div><!--/#widget-->

			<!-- 		<div class="widget">
						<div class="add">
							<a href="#"><img class="img-responsive" src="/assets/images/post/add/add6.jpg" alt="" /></a>
						</div>
					</div>
					 -->
				</div><!--/#sitebar-->
			</div>
		</div>	
	</div><!--/.section-->
</div><!--/.container-fluid-->