<title><%= @platform %> - Wahiga</title>

<div style="background-color: #F8C175; margin-bottom: -20px; margin-top: -19px;">
	<div class="container-fluid">
		<%= render '/home/publishTop' %>
	</div>	

</div>
<div id="news-listing" class="container">							
	<div class="section">
		<div class="row">
			<div class="col-sm-9">
				<div id="site-content" class="site-content">
					<h1 class="section-title title" style="color: #E7BB51; font-weight: bold;"><%= @platform %></h1>
					<div class="middle-content">								
						<div class="section">
							<div class="row">
							<% @articles.each do |a| %>
								<div class="col-sm-6 col-md-4"  style="margin-bottom: 20px;">
									<div class="post medium-post">
										<div class="entry-header">
											<% a.article_documents.each do |image| %>
												<% if image.document_type === "thumb" %>
													<div class="entry-thumbnail">
														<a href="/<%= a.article_type.downcase %>/<%= a.friendly_url %>"><img class="img-responsive" src="/images/show_image/<%= image.document.id %>" alt="" /></a>
													</div>
												<% end %>
											<% end %>
										</div>
										<div class="post-content">								
											<div class="entry-meta">
												<ul class="list-inline">
													<li class="publish-date"><a href="/<%= a.article_type.downcase %>/<%= a.friendly_url %>"><i class="fa fa-clock-o"></i> <%= a.created_at %></a></li>
													<!-- <li class="views"><a href="#"><i class="fa fa-eye"></i>21k</a></li>
													<li class="loves"><a href="#"><i class="fa fa-heart-o"></i>372</a></li> -->
												</ul>
											</div>
											<h2 class="entry-title">
												<a href="/<%= a.article_type.downcase %>/<%= a.friendly_url %>"><%= a.title %></a>
											</h2>
										</div>
									</div><!--/post--> 
								</div>
								<% end %>
							</div>
						</div><!--/.lifestyle -->
					</div><!--/.middle-content-->
				</div><!--/#site-content-->
			</div>
			<div class="col-sm-3">
				<div id="sitebar">							
					<div class="widget">
						<h1 class="section-title title"><a href="listing.html">Most Popular</a></h1>
						<ul class="post-list">
							<li>
								<div class="post small-post">
									<div class="entry-header">
										<div class="entry-thumbnail">
											<a href="news-details.html"><img class="img-responsive" src="/assets/images/post/rising/1.jpg" alt="" /></a>
										</div>
									</div>
									<div class="post-content">								
										<div class="video-catagory"><a href="#">World</a></div>
										<h2 class="entry-title">
											<a href="news-details.html">Patti Solis Doyle, who served as a senior adviser</a>
										</h2>
									</div>
								</div><!--/post--> 
							</li>
							<li>
								<div class="post small-post">
									<div class="entry-header">
										<div class="entry-thumbnail">
											<a href="news-details.html"><img class="img-responsive" src="/assets/images/post/rising/2.jpg" alt="" /></a>
										</div>
									</div>
									<div class="post-content">								
										<div class="video-catagory"><a href="#">Business</a></div>
										<h2 class="entry-title">
											<a href="news-details.html">The interview comes as the infidelity scandal and other </a>
										</h2>
									</div>
								</div><!--/post-->
							</li>
							<li>
								<div class="post small-post">
									<div class="entry-header">
										<div class="entry-thumbnail">
											<a href="news-details.html"><img class="img-responsive" src="/assets/images/post/rising/3.jpg" alt="" /></a>
										</div>
									</div>
									<div class="post-content">								
										<div class="video-catagory"><a href="#">Sports</a></div>
										<h2 class="entry-title">
											<a href="news-details.html">They have long conversations together. It's a very good</a>
										</h2>
									</div>
								</div><!--/post-->
							</li>
							<li>
								<div class="post small-post">
									<div class="entry-header">
										<div class="entry-thumbnail">
											<a href="news-details.html"><img class="img-responsive" src="/assets/images/post/rising/4.jpg" alt="" /></a>
										</div>
									</div>
									<div class="post-content">								
										<div class="video-catagory"><a href="#">Technology</a></div>
										<h2 class="entry-title">
											<a href="news-details.html">He just sort of puts his hands on her shoulders</a>
										</h2>
									</div>
								</div><!--/post-->
							</li>

							<li>
								<div class="post small-post">
									<div class="entry-header">
										<div class="entry-thumbnail">
											<a href="news-details.html"><img class="img-responsive" src="/assets/images/post/rising/6.jpg" alt="" /></a>
										</div>
									</div>
									<div class="post-content">								
										<div class="video-catagory"><a href="#">Health</a></div>
										<h2 class="entry-title">
											<a href="news-details.html">The winner of the caucuses is decided by state</a>
										</h2>
									</div>
								</div><!--/post-->
							</li>
							<li>
								<div class="post small-post">
									<div class="entry-header">
										<div class="entry-thumbnail">
											<a href="news-details.html"><img class="img-responsive" src="/assets/images/post/rising/7.jpg" alt="" /></a>
										</div>
									</div>
									<div class="post-content">								
										<div class="video-catagory"><a href="#">Lifestyle</a></div>
										<h2 class="entry-title">
											<a href="news-details.html">Rosa went with the man to another town in Mexico called Tenancingo, where he introduced</a>
										</h2>
									</div>
								</div><!--/post-->
							</li>
						</ul>
					</div><!--/#widget-->

					<div class="widget">
						<div class="add">
							<a href="#"><img class="img-responsive" src="/assets/images/post/add/add6.jpg" alt="" /></a>
						</div>
					</div>
					
					</div>
				</div><!--/#sitebar-->
			</div>
		</div>	
	</div><!--/.section-->
</div><!--/.container-fluid-->