<div id="top-layer">
	<div id="header-top">
		<%= render '/home/wrapper_top_amp' %>
	</div>
	<section id="content">
		<%= render '/home/header_amp' %>
		<div id="main-box" >
			<div id="main"><!-- Right Bar -->
				<amp-ad
					layout="fixed-height"
					height=100
					type="adsense"
					data-ad-client="ca-pub-8655806429950106"
					data-ad-slot="1167809272">
				</amp-ad>

				<h1 style="padding: 0px 28px; margin-bottom: 20px;"><%= @article.title %></h1>
				<div class="content-padding">
					<div class="article-full">

						<div class="article-main-photo">
							<% @article.article_documents.each do |image| %>
							<% if image.document_type === "Header" %>
							<amp-img src="/images/<%= image.document.id %>/<%= image.document.file_name %>" layout="responsive" width="633" height="300" />
							<% end %>
							<% end %>	
						</div>
						<div class="article-icons">
							
						</div>
						
						<div class="clear-float do-the-split"></div>

						<div class="article-content" itemprop="articleBody">
						 	<%= sanitize @article.body.gsub("alt=\"\" title=\"\"", "width=\"633\" height=\"300\" layout=\"responsive\""), scrubber: AmpScrubber.new %>
						</div>
					</div>
					
					<amp-ad
						layout="fixed-height"
						height=200
						type="adsense"
						data-ad-client="ca-pub-8655806429950106"
						data-ad-slot="5598008872">
					</amp-ad>
					<!-- <div class="clear-float do-the-split"></div> -->
					
					<!-- BEGIN .article-footer -->
					<div class="article-footer">
						<div class="about-author" itemprop="author" itemscope itemtype="http://schema.org/Person">
							
							<h2><span>Sobre o autor</span></h2>

							<div class="inner">
								<a href="" class="avatar avatar-large">
									<amp-img src="<%= @author[:profile_image_url] %>" alt="" style="width: 90px; height: 90px;" class="author-image setborder" />
								</a>
								<div class="side">
									<div class="about-head">
										<a href="" class="comment-user"><b></b></a>
									</div>
									<i itemprop="name"><%= @author[:full_name] %></i>
								<a href="/all-articles/<%= @author[:full_name].gsub(' ', '_') %>/<%= @author[:id] %>"><i class="fa fa-comment"></i><%= @author[:total_of_articles] %> Artigos</a>
								</div>
								<div class="clear-float">
									<p itemprop="description"><%= truncate(@author[:about], length: 110) %></p>
								</div>
							</div>

						</div>

						<div class="similar-posts">
							
							<h2><span>Outras notícias</span></h2>
							
							<div class="home-article right">
								<ul>
									<% @randomArticles.each do |articles| %>
									<li>
										<a href="<% if articles.game != nil %>/<%= articles.game.friendly_url %><% end %>/<%= articles.article_type.downcase %>/<%= articles.friendly_url %>">
											<% articles.article_documents.each do |image| %>
											<% if image.document_type === "Thumb" %>
											<amp-img src="/images/<%= image.document.id %>" width="89" height="55" style="float: left;"></amp-img>
											<% end %>
											<% end %>
											<strong><%= truncate(articles.title, length: 33) %></strong>
											<span class="a-txt"><%= truncate(articles.preview, length: 33) %></span>
										</a>
									</li>
									<% end %>
								</ul>
								
							</div>

						</div>
						<!-- END .article-footer -->
					</div>

					<!-- END .content-padding -->
				</div>
			</div>


			<div class="clear-float"></div>

		</div>
	</section>
</div>
<script type='application/ld+json'>
{
    "@context":"http://schema.org",
    "@type":"WebSite",
    "url":"https://www.wahiga.com",
    "name":"Wahiga",
    "description":"Wahiga é o seu portal de notícias para games, filmes, seriados e nerd cult. Fique antenado com as novidades para  PS4, Xbox One, PS3, Xbox 360, Wii U, PS Vita, Wii, PC. Dicas, Reviews, trailers, detonados, e muito mais."
}
</script>
<script type='application/ld+json'>
{
    "@context":"http://schema.org",
    "@type":"Organization",
    "url":"https://www.wahiga.com",
    "name":"Wahiga",
    "sameAs":[ "https://plus.google.com/b/102118188486502639269/102118188486502639269", "http://www.facebook.com/Wahiga.Official/", "http://www.twitter.com/wahiga.official/", "https://www.youtube.com/channel/UCsm4Ik888MakSXbc6t8XBnA"],
    "logo":"https://www.wahiga.com/assets/images/wahiga_logo_2.png"
}
</script>
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type":"BreadcrumbList",
      "itemListElement":[
          {
              "@type":"ListItem",
              "position":1,
              "item":{
                  "@type":"WebPage",
                  "url":"https://www.wahiga.com/all-articles",
                  "name":"Notícias"
              }
          }
          
          // ,{
          //     "@type":"ListItem",
          //     "position":2,
          //     "item":{
          //         "@type":"WebPage",
          //         "url":"http://br.ign.com/overwatch",
          //         "name":"Overwatch"
          //     }
          // }
          
      ]
    }
  </script>
<script type="application/ld+json">
      {
          "@context":"http://schema.org",
          "@type": "Article",
          "mainEntityOfPage": {
              "@type": "WebPage",
              "@id": "https://google.com/article"
           },
          "headline":"<%= @article.title %>",
        	<% @article.article_documents.each do |image| %>
				<% if image.document_type === "Header" %>
					"image": {
		            "@type": "ImageObject",
		            "url": "https://www.wahiga.com/images/<%= image.document.id %>/<%= image.document.file_name %>",
		            "width": 700,
		            "height": 300
		           },		
				<% end %>
			<% end %>	
          
          
          "description":"<%= @article.preview %>",
          "datePublished": "<%= @article.created_at %>",
          "dateModified": "<%= @article.updated_at %>",
          "inLanguage": "pt-br",
          <% if @article.game != nil %>
          "about": {"description": "", "@type": "Thing", "name": "<%= @article.game.name %>"},
          <% end %>
          "author": {
              "@type": "Person",
              "name": "<%= @author[:full_name] %>"
              
              ,"description":"<%= @author[:about] %>",
              "jobTitle": "Redator",
              "image": "<%= @author[:profile_image_url] %>"
              
          },
          "publisher": {
              "@type":"Organization",
              "name": "Wahiga",
              "logo": {
                  "@type": "ImageObject",
                  "url": "https://www.wahiga.com/assets/images/wahiga_logo_2.png",
                  "width": 200,
                  "height": 60
              }
          }
      }
</script>