<div id="slider-imgs">
	<div class="featured-img-box">
		<div id="featured-img-1" class="featured-img"></div>
	</div>
	<!-- END #slider-imgs -->
</div>

<!-- BEGIN #top-layer -->
<div id="top-layer">
	<div id="header-top">
		<%= render '/home/wrapper_top' %>
	</div>
	<section id="content">
		<%= render '/home/header' %>
		<div id="main-box">
			<div id="main"><!-- Right Bar -->
				<div class="content-padding">
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- Cabeçalho Responsivo -->
					<ins class="adsbygoogle"
					style="display:block"
					data-ad-client="ca-pub-8655806429950106"
					data-ad-slot="8764496876"
					data-ad-format="auto"></ins>
					<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
				<h1 style="padding: 0px 28px; margin-bottom: 20px;"><%= @article.title %></h1>
				<div class="content-padding">
					<div class="article-full">

						<div class="article-main-photo">
							<% @article.article_documents.each do |image| %>
							<% if image.document_type === "Header" %>
							<img src="/images/show_image/<%= image.document.id %>/<%= image.document.file_name %>" alt="" title="" />
							<% end %>
							<% end %>	
						</div>
						<div class="article-icons">
							<!-- <a href="" class=""><i class="fa fa-fire"></i>Autor</a>
							<a href=""><i class="fa fa-calendar"></i><%= @article.created_at %></a> -->
							<!-- <a href="#" class="show-likes"><i class="fa fa-heart"></i>20 likes</a> -->
						</div>
						
						<div class="clear-float do-the-split"></div>

						<div class="article-content">
							<%= raw @article.body %>
						</div>
					</div>
					
					<!-- <div class="clear-float do-the-split"></div> -->
					
					<!-- BEGIN .article-footer -->
					<div class="article-footer">
						<div class="about-author">
							
							<h2><span>Sobre o autor</span></h2>

							<div class="inner">
								<a href="" class="avatar avatar-large">
									<img src="<%= @author[:profile_image_url] %>" alt="" style="width: 90px; height: 90px;" class="author-image setborder" />
								</a>
								<div class="side">
									<div class="about-head">
										<a href="" class="comment-user"><b></b></a>
									</div>
									<i><%= @author[:full_name] %></i>
								<a href="/all-articles/<%= @author[:full_name].gsub(' ', '_') %>/<%= @author[:id] %>"><i class="fa fa-comment"></i><%= @author[:total_of_articles] %> Artigos</a>
								</div>
								<div class="clear-float">
									<p><%= truncate(@author[:about], length: 110) %></p>
								</div>
							</div>

						</div>

						<div class="similar-posts">
							
							<h2><span>Outras notícias</span></h2>
							
							<div class="home-article right">
								<ul>
									<% @randomArticles.each do |articles| %>
									<li>
										<a href="<% if a.game != nil %>/<%= articles.game.friendly_url %><% end %>/<%= articles.article_type.downcase %>/<%= articles.friendly_url %>">
											<% articles.article_documents.each do |image| %>
											<% if image.document_type === "Thumb" %>
											<img src="/images/show_image/<%= image.document.id %>" alt="" title="" />
											<% end %>
											<% end %>
											<strong><%= truncate(articles.title, length: 33) %></strong>
											<span class="a-txt"><%= truncate(articles.preview, length: 33) %></span>
										</a>
									</li>
									<% end %>
								</ul>
								
							</div>

						</div>
						<!-- END .article-footer -->
					</div>

					<!-- END .content-padding -->
				</div>
				<div class="content-padding">
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- Footer artigos -->
					<ins class="adsbygoogle"
					style="display:block"
					data-ad-client="ca-pub-8655806429950106"
					data-ad-slot="9337429679"
					data-ad-format="auto"></ins>
					<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
			</div>

			<!-- BEGIN #sidebar -->
			<aside id="sidebar">
				<%= render 'home/popular_articles' %>

				<%= render 'home/we_are_social' %>

				<div class="panel">
					<div class="panel-content">
						<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<!-- article show -->
						<ins class="adsbygoogle"
						style="display:block"
						data-ad-client="ca-pub-8655806429950106"
						data-ad-slot="7227058073"
						data-ad-format="auto"></ins>
						<script>
							(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
					</div>
				</div>
				<!-- END #sidebar -->
			</aside>

			<div class="clear-float"></div>

		</div>
	</section>
</div>