<!-- <div class="container" ng-controller="signup-controller as controller">
  <div class="page-header">
    <h1>Social login</h1>
  </div>
  <div class="col-lg-5 col-md-5 col-sm-5">
    <%= form_for :user, :url => {:controller => 'users', :action => 'create'}, html: { class: "form-horizontal"} do %>
    <div class="form-group" id="messages">
      <%= raw flash_message %>
    </div>
    <div class="form-group">
      <h3>Create new account</h3>
    </div>
    <div class="form-group">
      <label for="user_email">Email</label>
      <input type="email" class="form-control" placeholder="Email" required name="user[email]" id="user_email"/> 
    </div>
    <div class="form-group">
      <label for="user_nickname">Nickname</label>
      <input type="text" class="form-control" placeholder="Nickname" value="<%= @user.nickname %>" required name="user[nickname]" id="user_nickname"/> 
    </div>
    <div class="form-group">
      <label for="user_password">Password</label>
      <input type="password" class="form-control" placeholder="Password" required name="user[password]" id="user_password"/>
    </div>
    <div class="form-group">
      <label for="user_password_confirmation">Confirm password</label>
      <input type="password" class="form-control" placeholder="Confirm password" required name="user[password_confirmation]" id="user_password_confirmation"/>
    </div>
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="user_preference[terms_of_use]" required id="user_terms_of_use"> Accept terms of use
        </label>
      </div>  
    </div>
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="user_preference[email_content]" id="user_email_content"> Accept Receive content in email
        </label>
      </div>  
    </div>
    <div class="form-group">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Signup</button>
    </div>
    <% end %>
  </div>
  <div class="col-lg-5 col-lg-offset-1 col-md-5 col-sm-5">
  <%= form_tag '/login-social' do %>
    <div class="form-group" id="messages">
      <%= raw flash_message %>
    </div>
    <div class="form-group">
      <h3>Signin with an exist account</h3>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" placeholder="Email" required name="email" id="email"/> 
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" placeholder="Password" required name="password" id="password"/>
    </div>
    <div class="form-group">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Signin</button>
    </div>
    <% end %>
  </div>
</div> -->
<div id="slider-imgs">
    <div class="featured-img-box">
      <div id="featured-img-1" class="featured-img"></div>
    </div>
    <!-- END #slider-imgs -->
  </div>

    <!-- BEGIN #top-layer -->
    <div id="top-layer">
      <div id="header-top">
        <%= render '/home/wrapper_top' %>
      </div>
      <section id="content">
        <%= render '/home/header' %>
        <div id="main-box" class="full-width">
          
          <div id="main" ng-controller="social-login-controller">
          <div class="panel">
            <div class="content-padding" style="margin-top: -30px;">
              <p><span class="the-alert-msg"><i class="fa fa-warning"></i>Sua rede social ainda não esta conectada com nenhuma conta Wahiga, cria uma conta preenchendo os campos abaixo ou faça o login em uma conta wahiga existente</span></p>
            </div>
          </div>
            <div class="signup-panel">

              <div class="left">
                <h2><span>Login</span></h2>
                <div class="content-padding">
                  
                  <div class="form-split-about">
                  
                    <div class="the-form">
                    <form>

                      <p>
                        <span class="the-error-msg" ng-show="showLoginErrorMessage"><i class="fa fa-warning"></i>{{loginMessage}}</span>
                      </p>

                      <p>
                        <label for="login_username">Email:</label>
                        <input type="text" name="login_username" id="login_username" ng-model="socialSignin.email" />
                      </p>

                      <p>
                        <label for="login_password">Senha:</label>
                        <input type="password" name="login_password" id="login_password" ng-model="socialSignin.password" />
                      </p>

                      <p class="form-footer">
                        <input type="submit" name="login_submit" id="login_submit" ng-disabled="loginLoading" ng-click="tryLogin();" value="Log in" />
                      </p>

                    </form>
                  </div>
                    
                  </div>
                  
                </div>
              </div>

              <div class="right">
                <h2><span>Registre-se</span></h2>
                <div class="content-padding">
                  

                  <div class="the-form">
                    <form>

                      <p>
                          <span class="the-error-msg" ng-show="showSignupErrorMessage"><i class="fa fa-warning"></i>{{signupMessage}}</span>
                      </p>

                      <p>
                        <label for="signup_username">Nickname:<span class="required">*</span></label>
                        <input type="text" ng-class="{'error-input': socialSignup.nickname.error == true}" name="signup_username" id="signup_username" ng-model="socialSignup.nickname.value" />
                        <span class="error-msg" ng-show="socialSignup.nickname.error">{{socialSignup.nickname.errorMessage}}</span>
                      </p>

                      <p>
                        <label for="signup_email">E-mail:<span class="required">*</span></label>
                        <input ng-class="{'error-input': socialSignup.email.error == true}" type="text" name="signup_email" id="signup_email" ng-model="socialSignup.email.value" />
                        <span class="error-msg" ng-show="socialSignup.email.error">{{socialSignup.email.errorMessage}}</span>
                      </p>

                      <p>
                        <label for="signup_password">Senha:<span class="required">*</span></label>
                        <input type="password" ng-class="{'error-input': socialSignup.password.error == true}" name="signup_password" id="signup_password" ng-model="socialSignup.password.value" />
                        <span class="error-msg" ng-show="socialSignup.password.error">{{socialSignup.password.errorMessage}}</span>
                      </p>

                      <p>
                        <label for="signup_password_r">Confirme sua senha:<span class="required">*</span></label>
                        <input type="password" ng-class="{'error-input': socialSignup.passwordConfirmation.error == true}" name="signup_password_r" id="signup_password_r" ng-model="socialSignup.passwordConfirmation.value" />
                        <span class="error-msg" ng-show="socialSignup.passwordConfirmation.error">{{socialSignup.passwordConfirmation.errorMessage}}</span>
                      </p>

                      <p class="form-footer">
                        <input type="submit" name="signup_submit" id="signup_submit" value="Registre-se" />
                      </p>
                    </form>
                  </div>

                </div>
                </div>

              <div class="clear-float"></div>
            </div>
            
          </div>
          
          <div class="clear-float"></div>
          
        </div>
      </div>
    </div>
      
    <div class="clear-float"></div>
  </section>
</div>