<h2><span>Ultimas noticías</span></h2>
<div class="content-padding">
	<% @articles.each do |a| %>
	<div class="article-promo">
		<div class="article-photo">
			<span class="article-image-out">
				<!-- <span class="image-comments"><span>21</span></span> -->
				<span class="article-image">
					<% a.article_documents.each do |image| %>
						<% if image.document_type === "Thumb" %>
							<a href="/<%= a.article_type %>/<%= a.friendly_url %>"><img src="/images/show_image/<%= image.document.id %>/<%= image.document.file_name %>" alt="" title="" /></a>
						<% end %>
					<% end %>
				</span>
			</span>
		</div>
		
		<div class="article-content">
			<h3><a href="/<%= a.article_type %>/<%= a.friendly_url %>"><%= truncate(a.title, length: 75) %></a></h3>
			<div class="article-icons">
				<!-- <a href="user-single.html" class="user-tooltip"><i class="fa fa-fire"></i>Autor</a>
				<a href="#"><i class="fa fa-calendar"></i><%= a.created_at %></a> -->
			</div>
			<p><%= truncate(a.preview, length: 120) %></p>
			<a href="/<%= a.article_type %>/<%= a.friendly_url %>" class="defbutton"><i class="fa fa-reply"></i>Leia completa</a>
		</div>
	</div>
	
	<div class="clear-float do-the-split"></div>
	<% end %>
	
	<div>
		 <a href="/all-articles" class="defbutton"><i class="fa fa-book"></i>Veja outras noticías</a>
	</div>
	
</div>