<h2><span>Noticías quentes</span></h2>
<div class="content-padding">
	<div class="grid-articles">
		<% @slider.each do |s| %>
		    <% s.article_documents.each do |image| %>
		      <% if image.document_type === "Thumb" %>
		        <div class="item">
					
					<span class="article-image-out">
						<!-- <span class="image-comments"><span>21</span></span> -->
						<span class="article-image">
							<a href="/<%= s.article_type %>/<%= s.friendly_url %>"><img src="/images/show_image/<%= image.document.id %>" alt="" title="" /></a>
						</span>
					</span>
					<h3><a href="/<%= s.article_type %>/<%= s.friendly_url %>"><%= truncate(s.title, length: 70) %></a></h3>
					<p><%= truncate(s.preview, length: 77) %></p>
					<div>
						<a href="/<%= s.article_type %>/<%= s.friendly_url %>" class="defbutton"><i class="fa fa-reply"></i>Veja completo</a>
					</div>
					<!-- END .item -->
				</div>
		      <% end %>
		    <% end %>
		  <% end %>		
	</div>
</div>