<% @highlight.each do |h| %>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
	<a href="/articles/friendly_url/id123">
		<div class="box">
			<% h.article_documents.each do |ad| %>
				<% if ad.document_type === "thumb" %>
					<img src="/images/show_image/<%= ad.document.id %>/<%= ad.document.file_name %>" class="img-thumbnail"/>
				<% end %>
			<% end %>
			<div class="box-h4">
				<h4 style="color: black;"><%= h.preview %> ID is: <%= h.id %> Hightight <%= h.is_highlight %> Created: <%= time_ago_in_words h.created_at %> ago</h4>
			</div>
		</div>	
	</a>
</div>
<% end %>
