<title>Walkthrough, Hints, News & Reviews for Gamers - Wahiga</title>
<%= render '/home/slider' %>


<div style="background-color: #F8C175; margin-bottom: 20px; margin-top: -30px;">
	<div class="container-fluid">
		<%= render '/home/publishTop' %>
	</div>	

</div>


<div class="box-layout" style="margin-bottom: -20px;">
	<div class="container-fluid">
		<div class="section">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-2">
					<div id="site-content" class="site-content">
						<h2 class="section-title" style="color: #E7BB51; font-weight: bold;">LATEST NEWS</h2>
						<div class="middle-content">
							<div class="section health-section">
								<div class="health-feature">
									<% @articles.each do |a| %>
									<div class="post">
										<div class="entry-header">
											<% a.article_documents.each do |image| %>
												<% if image.document_type === "Thumb" %>
													<div class="entry-thumbnail">
														<a href="/<%= a.article_type.downcase %>/<%= a.friendly_url %>"><img class="img-responsive" src="/images/show_image/<%= image.document.id %>" alt="" /></a>
													</div>
												<% end %>
											<% end %>
										</div>
										<div class="post-content">								
											<h2 class="entry-title">
												<a href="/<%= a.article_type.downcase %>/<%= a.friendly_url %>" style="font-weight: bold;"><%= a.title %></a>
											</h2>
											<p class="visible-lg visible-md text-muted"><%= a.preview %></p>
											<div class="entry-meta visible-lg visible-md">
												<ul class="list-inline">
													<li class="publish-date"><a href="/<%= a.article_type.downcase %>/<%= a.friendly_url %>"><i class="fa fa-clock-o"></i> <%= a.created_at %></a></li>
													<!-- <li class="views"><a href="#"><i class="fa fa-eye"></i>21k</a></li>
													<li class="loves"><a href="#"><i class="fa fa-heart-o"></i>372</a></li> -->
												</ul>
											</div>
										</div>
									</div><!--/post-->
									<% end %>
								</div>
							</div><!--/.health-section -->
							<!-- <div class="add inner-add">
								<div class="container-fluid" style="position: relative;">
									
								</div>
							</div> --><!--/.section-->
						</div><!--/.middle-content-->
					</div><!--/#site-content-->
				</div>
				<div class="col-sm-3">
						<div id="sitebar">							
							<div class="widget">
								<div class="add">
									<a href="#"><img class="img-responsive" src="/assets/images/post/add/add5.jpg" alt="" /></a>
								</div>
							</div>
							<!--/#widget-->
							<div class="widget">
								<h2 class="section-title" style="color: #E7BB51; font-weight: bold;">TOP UPCOMING GAMES</h2>
								<ul class="comment-list">
									<li style="border:none;">
										<div class="post small-post" style="background-image: url('/assets/images/fnal-fantasy-xv.jpg'); background-size: cover;">
											<div class="post-content" style="background-color: rgba(0,0,0,0.65);">
												<h1 class="entry-title">
													<a href="news-details.html" style="font-weight: bold; color: white; font-size: 20px;">1. Final Fantasy XV</a>
												</h2>	
												<div class="entry-meta">
													<ul class="list-inline">
														<li class="publish-date"><p style="color: #E7BB51;">Sep 30, 2017 </p></li>
													</ul>
												</div>
											</div>
										</div><!--/post-->
									</li>
									<li style="border:none;">
										<div class="post small-post" style="background-image: url('/assets/images/fnal-fantasy-xv.jpg'); background-size: cover;">
											<div class="post-content" style="background-color: rgba(0,0,0,0.65);">
												<h1 class="entry-title">
													<a href="news-details.html" style="font-weight: bold; color: white; font-size: 20px;">1. Final Fantasy XV</a>
												</h2>	
												<div class="entry-meta">
													<ul class="list-inline">
														<li class="publish-date"><p style="color: #E7BB51;">Sep 30, 2017 </p></li>
													</ul>
												</div>
											</div>
										</div><!--/post-->
									</li>
									<li style="border:none;">
										<div class="post small-post" style="background-image: url('/assets/images/fnal-fantasy-xv.jpg'); background-size: cover;">
											<div class="post-content" style="background-color: rgba(0,0,0,0.65);">
												<h1 class="entry-title">
													<a href="news-details.html" style="font-weight: bold; color: white; font-size: 20px;">1. Final Fantasy XV</a>
												</h2>	
												<div class="entry-meta">
													<ul class="list-inline">
														<li class="publish-date"><p style="color: #E7BB51;">Sep 30, 2017 </p></li>
													</ul>
												</div>
											</div>
										</div><!--/post-->
									</li>
									<li style="border:none;">
										<div class="post small-post" style="background-image: url('/assets/images/fnal-fantasy-xv.jpg'); background-size: cover;">
											<div class="post-content" style="background-color: rgba(0,0,0,0.65);">
												<h1 class="entry-title">
													<a href="news-details.html" style="font-weight: bold; color: white; font-size: 20px;">1. Final Fantasy XV</a>
												</h2>	
												<div class="entry-meta">
													<ul class="list-inline">
														<li class="publish-date"><p style="color: #E7BB51;">Sep 30, 2017 </p></li>
													</ul>
												</div>
											</div>
										</div><!--/post-->
									</li>
									<li style="border:none;">
										<div class="post small-post" style="background-image: url('/assets/images/fnal-fantasy-xv.jpg'); background-size: cover;">
											<div class="post-content" style="background-color: rgba(0,0,0,0.65);">
												<h1 class="entry-title">
													<a href="news-details.html" style="font-weight: bold; color: white; font-size: 20px;">1. Final Fantasy XV</a>
												</h2>	
												<div class="entry-meta">
													<ul class="list-inline">
														<li class="publish-date"><p style="color: #E7BB51;">Sep 30, 2017 </p></li>
													</ul>
												</div>
											</div>
										</div><!--/post-->
									</li>
									<li style="border:none;">
										<div class="post small-post" style="background-image: url('/assets/images/fnal-fantasy-xv.jpg'); background-size: cover;">
											<div class="post-content" style="background-color: rgba(0,0,0,0.65);">
												<h1 class="entry-title">
													<a href="news-details.html" style="font-weight: bold; color: white; font-size: 20px;">1. Final Fantasy XV</a>
												</h2>	
												<div class="entry-meta">
													<ul class="list-inline">
														<li class="publish-date"><p style="color: #E7BB51;">Sep 30, 2017 </p></li>
													</ul>
												</div>
											</div>
										</div><!--/post-->
									</li>
									<li style="border:none;">
										<div class="post small-post" style="background-image: url('/assets/images/fnal-fantasy-xv.jpg'); background-size: cover;">
											<div class="post-content" style="background-color: rgba(0,0,0,0.65);">
												<h1 class="entry-title">
													<a href="news-details.html" style="font-weight: bold; color: white; font-size: 20px;">1. Final Fantasy XV</a>
												</h2>	
												<div class="entry-meta">
													<ul class="list-inline">
														<li class="publish-date"><p style="color: #E7BB51;">Sep 30, 2017 </p></li>
													</ul>
												</div>
											</div>
										</div><!--/post-->
									</li>
									<li style="border:none;">
										<div class="post small-post" style="background-image: url('/assets/images/fnal-fantasy-xv.jpg'); background-size: cover;">
											<div class="post-content" style="background-color: rgba(0,0,0,0.65);">
												<h1 class="entry-title">
													<a href="news-details.html" style="font-weight: bold; color: white; font-size: 20px;">1. Final Fantasy XV</a>
												</h2>	
												<div class="entry-meta">
													<ul class="list-inline">
														<li class="publish-date"><p style="color: #E7BB51;">Sep 30, 2017 </p></li>
													</ul>
												</div>
											</div>
										</div><!--/post-->
									</li>
									<li style="border:none;">
										<div class="post small-post" style="background-image: url('/assets/images/fnal-fantasy-xv.jpg'); background-size: cover;">
											<div class="post-content" style="background-color: rgba(0,0,0,0.65);">
												<h1 class="entry-title">
													<a href="news-details.html" style="font-weight: bold; color: white; font-size: 20px;">1. Final Fantasy XV</a>
												</h2>	
												<div class="entry-meta">
													<ul class="list-inline">
														<li class="publish-date"><p style="color: #E7BB51;">Sep 30, 2017 </p></li>
													</ul>
												</div>
											</div>
										</div><!--/post-->
									</li>
									<li style="border:none;">
										<div class="post small-post" style="background-image: url('/assets/images/fnal-fantasy-xv.jpg'); background-size: cover;">
											<div class="post-content" style="background-color: rgba(0,0,0,0.65);">
												<h1 class="entry-title">
													<a href="news-details.html" style="font-weight: bold; color: white; font-size: 20px;">1. Final Fantasy XV</a>
												</h2>	
												<div class="entry-meta">
													<ul class="list-inline">
														<li class="publish-date"><p style="color: #E7BB51;">Sep 30, 2017 </p></li>
													</ul>
												</div>
											</div>
										</div><!--/post-->
									</li>
								</ul>
							</div><!-- widget -->
							
							<div class="widget">
								<div class="add">
									<a href="#"><img class="img-responsive" src="/assets/images/post/add/add5.jpg" alt="" /></a>
								</div>
							</div>
							
						</div><!--/#sitebar-->
					</div>
			</div>

		</div>
	</div>
	<div class="footer-top" style="background-color: #F8C175; border:none;">
			<div class="container-fluid">
				<ul class="list-inline social-icons text-center">
					<li><a href="https://www.facebook.com/Wahiga.Official/" target="_blank"><i class="fa fa-facebook"></i>Facebook</a></li>
					<li><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
					<li><a href="#"><i class="fa fa-google-plus"></i>Google Plus</a></li>
					<li><a href="#"><i class="fa fa-instagram"></i>Instagram</a></li>
					<li><a href="https://www.youtube.com/channel/UCsm4Ik888MakSXbc6t8XBnA" target="_blank"><i class="fa fa-youtube"></i>Youtube</a></li>
				</ul>
			</div>
		</div>
</div>

<!-- <div class="row" style="height: 2em;">
	
</div>

<div class="container-fluid hidden-xs" style="background-color: #ddd">
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2" style="margin-top: 2em; margin-bottom: 2em;">
				<div style="background-color: green; height: 6em;"> </div>
			</div>
		</div>
	</div>
	
</div> -->

