<title>Walkthrough, Hints, News & Reviews for Gamers - Wahiga</title>
<%= render '/home/slider' %>


<div class="container-fluid" style="background-color: #F8C175; margin-bottom: 20px; margin-top: -30px; padding-bottom: 0px;">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<div class="col-lg-6 col-lg-offset-3">
		<!-- Cabeçalho Responsivo -->
		<ins class="adsbygoogle"
		     style="display:block"
		     data-ad-client="ca-pub-8655806429950106"
		     data-ad-slot="8764496876"
		     data-ad-format="auto"></ins>
		 </div>    
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
</div>


<div class="box-layout" style="margin-bottom: -20px;">
	<div class="container-fluid">
		<div class="section">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-2 col-md-8">
					<div id="site-content" class="site-content">
						<h2 class="section-title" style="color: #E7BB51; font-weight: bold;">ÚLTIMAS NOTÍCIAS</h2>
						<div class="middle-content">
							<div class="section health-section">
								<div class="health-feature">
									<% @articles.each do |a| %>
										<div class="post">
											<a href="/<%= a.article_type %>/<%= a.friendly_url %>" >
											<div class="col-lg-4 col-md-5 col-sm-5 hidden-xs" style="max-width: 100%; float: left;">
												<% a.article_documents.each do |image| %>
													<% if image.document_type === "Thumb" %>
														<div class="entry-thumbnail">
															<div style="height: 200px; width: 100%; background-image: url('/images/show_image/<%= image.document.id %>'); background-size: contain; background-position: center; background-repeat: no-repeat;"></div>
														</div>
													<% end %>
												<% end %>
											</div>
											<div class="col-xs-12 visible-xs" style="max-width: 100%; float: left;">
												<% a.article_documents.each do |image| %>
													<% if image.document_type === "Thumb" %>
														<div class="entry-thumbnail">
															<div style="height: 200px; width: 100%; background-image: url('/images/show_image/<%= image.document.id %>'); background-size: contain; background-position: center; background-repeat: no-repeat;"></div>
														</div>
													<% end %>
												<% end %>
											</div>
											<div class="col-lg-8 col-md-7 col-sm-7 col-xs-7 hidden-xs">
												<h2 class="entry-title" style="font-size: 20px; font-weight: bold; color: black;">
													<%= a.title %>
												</h2>
												<p class="text-muted" style="font-size: 14px;"><%= a.preview %></p>
												<div class="entry-meta">
													<ul class="list-inline">
														<li class="publish-date"><i class="fa fa-clock-o"></i> <%= a.created_at %></li>
														<!-- <li class="views"><a href="#"><i class="fa fa-eye"></i>21k</a></li>
														<li class="loves"><a href="#"><i class="fa fa-heart-o"></i>372</a></li> -->
													</ul>
												</div>
											</div>
											<div class="col-xs-12 visible-xs">
												<h2 class="entry-title" style="font-size: 16px; font-weight: bold; color: black;">
													<%= a.title %>
												</h2>
												<p class="text-muted" style="font-size: 14px;"><%= a.preview %></p>
												<div class="entry-meta">
													<ul class="list-inline">
														<li class="publish-date"><i class="fa fa-clock-o"></i> <%= a.created_at %></li>
														<!-- <li class="views"><a href="#"><i class="fa fa-eye"></i>21k</a></li>
														<li class="loves"><a href="#"><i class="fa fa-heart-o"></i>372</a></li> -->
													</ul>
												</div>
											</div>
											</a>
										</div><!--/post-->
									<% end %>
								</div>
							</div><!--/.health-section -->
							<!-- <div class="add inner-add">
								<div class="container-fluid" style="position: relative;">
									
								</div>
							</div> --><!--/.section-->
						</div><!--/.middle-content-->
					</div><!--/#site-content-->
				</div>
				<div class="col-lg-3 col-md-4">
						<div id="sitebar">
							<div class="col-xs-12 visible-sm">
								<div class="col-xs-10">
									<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
										<!-- Lateral Direita Home -->
										<ins class="adsbygoogle"
										     style="display:inline-block;width:300px;height:600px"
										     data-ad-client="ca-pub-8655806429950106"
										     data-ad-slot="6428309273"></ins>
										<script>
										(adsbygoogle = window.adsbygoogle || []).push({});
										</script>
								</div>
							</div>					
							<!--/#widget-->
							<div class="widget">
								<h2 class="section-title" style="color: #E7BB51; font-weight: bold;">JOGOS MAIS ESPERADOS</h2>
								<ul class="comment-list">
									<li style="border:none;">
										<div class="post small-post" style="background-image: url('/assets/images/fnal-fantasy-xv.jpg'); background-size: cover;">
											<div class="post-content" style="background-color: rgba(0,0,0,0.65);">
												<h1 class="entry-title">
													<a href="news-details.html" style="color: white; font-size: 16px;">1. Final Fantasy XV</a>
												</h2>	
												<div class="entry-meta">
													<ul class="list-inline">
														<li class="publish-date"><p style="color: #E7BB51;"></p></li>
													</ul>
												</div>
											</div>
										</div><!--/post-->
									</li>
									<li style="border:none;">
										<div class="post small-post" style="background-image: url('/assets/images/static/Json-friday-13th.jpg'); background-size: cover;">
											<div class="post-content" style="background-color: rgba(0,0,0,0.65);">
												<h1 class="entry-title">
													<a href="news-details.html" style="color: white; font-size: 16px;">2. Friday the 13th: The Game</a>
												</h2>	
												<div class="entry-meta">
													<ul class="list-inline">
														<li class="publish-date"><p style="color: #E7BB51;"></p></li>
													</ul>
												</div>
											</div>
										</div><!--/post-->
									</li>
									<li style="border:none;">
										<div class="post small-post" style="background-image: url('/assets/images/static/3058956-battlefield1_reveal_03.jpg'); background-size: cover;">
											<div class="post-content" style="background-color: rgba(0,0,0,0.65);">
												<h1 class="entry-title">
													<a href="news-details.html" style="color: white; font-size: 16px;">3. Battlefield 1</a>
												</h2>	
												<div class="entry-meta">
													<ul class="list-inline">
														<li class="publish-date"><p style="color: #E7BB51;"></p></li>
													</ul>
												</div>
											</div>
										</div><!--/post-->
									</li>
									<li style="border:none;">
										<div class="post small-post" style="background-image: url('/assets/images/static/Resident-evil-7.jpg'); background-size: cover;">
											<div class="post-content" style="background-color: rgba(0,0,0,0.65);">
												<h1 class="entry-title">
													<a href="news-details.html" style="color: white; font-size: 16px;">4. Resident Evil 7:biohazard</a>
												</h2>	
												<div class="entry-meta">
													<ul class="list-inline">
														<li class="publish-date"><p style="color: #E7BB51;"></p></li>
													</ul>
												</div>
											</div>
										</div><!--/post-->
									</li>
									<li style="border:none;">
										<div class="post small-post" style="background-image: url('/assets/images/static/deus-ex.jpg'); background-size: cover;">
											<div class="post-content" style="background-color: rgba(0,0,0,0.65);">
												<h1 class="entry-title">
													<a href="news-details.html" style="color: white; font-size: 16px;">5. Deus Ex: Mankind Divided</a>
												</h2>	
												<div class="entry-meta">
													<ul class="list-inline">
														<li class="publish-date"><p style="color: #E7BB51;"></p></li>
													</ul>
												</div>
											</div>
										</div><!--/post-->
									</li>
									<li style="border:none;">
										<div class="post small-post" style="background-image: url('/assets/images/static/3068143-civilizationvi_screenshot_announce1.jpg'); background-size: cover;">
											<div class="post-content" style="background-color: rgba(0,0,0,0.65);">
												<h1 class="entry-title">
													<a href="news-details.html" style="color: white; font-size: 16px;">6. Sid Meier's Civilization VI</a>
												</h2>	
												<div class="entry-meta">
													<ul class="list-inline">
														<li class="publish-date"><p style="color: #E7BB51;"></p></li>
													</ul>
												</div>
											</div>
										</div><!--/post-->
									</li>
									<li style="border:none;">
										<div class="post small-post" style="background-image: url('/assets/images/static/mass-effect.jpg'); background-size: cover;">
											<div class="post-content" style="background-color: rgba(0,0,0,0.65);">
												<h1 class="entry-title">
													<a href="news-details.html" style="color: white; font-size: 16px;">7. Mass Effect: Andromeda</a>
												</h2>	
												<div class="entry-meta">
													<ul class="list-inline">
														<li class="publish-date"><p style="color: #E7BB51;"></p></li>
													</ul>
												</div>
											</div>
										</div><!--/post-->
									</li>
									<li style="border:none;">
										<div class="post small-post" style="background-image: url('/assets/images/static/2425926-2026827-672376_20130205_001.jpg'); background-size: cover;">
											<div class="post-content" style="background-color: rgba(0,0,0,0.65);">
												<h1 class="entry-title">
													<a href="news-details.html" style="color: white; font-size: 16px;">8. Cyberpunk 2077</a>
												</h2>	
												<div class="entry-meta">
													<ul class="list-inline">
														<li class="publish-date"><p style="color: #E7BB51;"></p></li>
													</ul>
												</div>
											</div>
										</div><!--/post-->
									</li>
									<li style="border:none;">
										<div class="post small-post" style="background-image: url('/assets/images/static/zelda.jpg'); background-size: cover;">
											<div class="post-content" style="background-color: rgba(0,0,0,0.65);">
												<h1 class="entry-title">
													<a href="news-details.html" style="color: white; font-size: 16px;">9. The Legend of Zelda: Breath of the Wild</a>
												</h2>	
												<div class="entry-meta">
													<ul class="list-inline">
														<li class="publish-date"><p style="color: #E7BB51;"></p></li>
													</ul>
												</div>
											</div>
										</div><!--/post-->
									</li>
									<li style="border:none;">
										<div class="post small-post" style="background-image: url('/assets/images/static/2886014-for_honor_screen_harrowgate_samuraisattackwarden_e3_150615_4pmpst_1434397100.jpg'); background-size: cover;">
											<div class="post-content" style="background-color: rgba(0,0,0,0.65);">
												<h1 class="entry-title">
													<a href="news-details.html" style="color: white; font-size: 16px;">10. For Honor</a>
												</h2>	
												<div class="entry-meta">
													<ul class="list-inline">
														<li class="publish-date"><p style="color: #E7BB51;"></p></li>
													</ul>
												</div>
											</div>
										</div><!--/post-->
									</li>
								</ul>
							</div><!-- widget -->
							
						</div><!--/#sitebar-->
						<div class="col-lg-12 visible-lg visible-md">
							<div class="col-lg-10 col-lg-offset-1">
								<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
									<!-- Lateral Direita Home -->
									<ins class="adsbygoogle"
									     style="display:inline-block;width:300px;height:600px"
									     data-ad-client="ca-pub-8655806429950106"
									     data-ad-slot="6428309273"></ins>
									<script>
									(adsbygoogle = window.adsbygoogle || []).push({});
									</script>
							</div>
					</div>
					</div>
			</div>

		</div>
	</div>
	<div class="container-fluid" style="background-color: #5C5C5F; margin-bottom: 0px; margin-top: -20px; padding-bottom: 0px;">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<div class="col-lg-6 col-lg-offset-2">	
				<!-- Footer reponsivo -->
				<ins class="adsbygoogle"
				     style="display:block"
				     data-ad-client="ca-pub-8655806429950106"
				     data-ad-slot="5252627279"
				     data-ad-format="auto"></ins>
			 </div>    
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
	</div>
	<div class="footer-top" style="background-color: #F8C175; border:none;">
			<div class="container-fluid">
				<ul class="list-inline social-icons text-center">
					<li><a href="https://www.facebook.com/Wahiga.Official/" target="_blank"><i class="fa fa-facebook"></i>Facebook</a></li>
					<li><a href="https://twitter.com/wahiga_official" target="_blank"><i class="fa fa-twitter"></i>Twitter</a></li>
					<!-- <li><a href="#"><i class="fa fa-google-plus"></i>Google Plus</a></li> -->
					<li><a href="https://www.youtube.com/channel/UCsm4Ik888MakSXbc6t8XBnA" target="_blank"><i class="fa fa-youtube"></i>Youtube</a></li>
				</ul>
			</div>
		</div>
</div>

<!-- <div class="row" style="height: 2em;">
	
</div>

<div class="container-fluid hidden-xs" style="background-color: #ddd">
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2" style="margin-top: 2em; margin-bottom: 2em;">
				<div style="background-color: green; height: 6em;"> </div>
			</div>
		</div>
	</div>
	
</div> -->

