<div class="container-fluid hidden-xs hidden-sm" style="background-color: black; height: 360px; margin-top: -20px;">
	<%= render "home/slider" %>
</div>
<div class="my-container hidden-md hidden-lg" style="background-color: #FFFFFF; margin-top: -20px;">
	<%= render "home/highlights" %>
</div>
<div class="container-fluid">
	<div id="publish-top" class="container">
		<%= render "home/publishTop" %>
	</div>

	<div class="container top-buffer">
		<%= render "home/topNotices" %>
	</div>

	<div class="container top-buffer">
		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
			<%= render "home/mainContainer" %>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<%= render "home/sideNotices" %>
		</div>
	</div>

	<div id="publish-top" class="container top-buffer">
		<%= render "home/publishTop" %>
	</div>
</div>


<!-- <div class="row" style="height: 2em;">
	
</div>

<div class="container-fluid hidden-xs" style="background-color: #ddd">
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2" style="margin-top: 2em; margin-bottom: 2em;">
				<div style="background-color: green; height: 6em;"> </div>
			</div>
		</div>
	</div>
	
</div> -->

