<div class="game-info-left">
	<% if @game.document_id != nil %>
		<img src="/images/<%= @gamePicture.id %>/<%= @gamePicture.file_name %>" class="game-poster" alt=""/>
	<% end %>
	<div class="game-info-details">
		<div class="game-info-buttons">
			<% if @game.trailer != nil %>
			<a href="<%= @game.trailer %>" target="_blank" class="defbutton"><i class="fa fa-film"></i>Veja o trailer</a>
			<% end %>
		</div>
		<% if @game.wahiga_rating != nil %>
			<div class="game-info-rating">
				<h3>Wahiga Review</h3>
				<hr />
				<strong><%= @game.wahiga_rating %></strong>
				<div class="rating-stars">
					<div class="rating-stars-inner" style="width: <%= @game.wahiga_rating * 20 %>%;"></div>
				</div>
			</div>
		<% end %>
		<div class="game-info-buttons">
		</div>
		<div class="game-info-graph">
			<div>
				<span>Data de Lançamento</span>
				<% if @game.release_date != nil %>
					<strong><%= @game.release_date.strftime("%d/%m/%Y") %></strong>
				<% end %>
			</div>
			<div>
				<span>Desenvolvedor</span>
				<strong>
				<% @developers.each do |dev| %>
						<%= dev.company.name.camelize %> <br/>
					<% end %>	
				</strong>
			</div>
			<div>
				<span>Publicadora</span>
				<strong>
					<% @publishers.each do |pub| %>
						<%= pub.company.name.camelize %> <br/>
					<% end %>	
				</strong>
			</div>
			<div>
				<span>Gênero</span>
				<strong><% if @game.genre != nil %>
														<% if @game.genre.index(",") != nil %>
															<% @game.genre.split(",").each do |splited| %>
																<%= splited.camelize %><br/>
															<% end %> 
														<% else %>
															<%= @game.genre.camelize %>
														<% end %>
													<% end %></strong>
			</div>
			<div>
				<span>Plataformas</span>
				<strong><% if @game.platform != nil %>
														<% if @game.platform.index(",") != nil %>
															<% @game.platform.split(",").each do |splited| %>
																<%= splited.camelize %><br/>
															<% end %> 
														<% else %>
															<%= @game.platform.camelize %>
														<% end %>
													<% end %></strong>
			</div>
		</div>
	</div>
</div>