<div id="slider-imgs">
	<div class="featured-img-box">
		<div id="featured-img-1" class="featured-img"></div>
	</div>
	<!-- END #slider-imgs -->
</div>

<div id="top-layer">
	<div id="header-top">
		<%= render '/home/wrapper_top' %>
	</div>
	<section id="content">
		<%= render '/home/header' %>
		<div id="main-box" class="full-width" style="margin-top: 100px;">
					
			<div id="main">
				<%= render '/games/game_info' %>
				<div class="game-info-right">

					<!-- BEGIN .game-menu -->
					<div class="game-menu" style="border-bottom: 5px solid #921913;">
						<div class="game-overlay-info">
							<h1><%= @game.name %><span></span></h1>
						</div>
						<ul>
							<li><a href="/<%= @game.friendly_url %>"><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;Informações</a></li>
							<li class="active" style="background-color: #921913;"><a href="games-single-news.html"><i class="fa fa-comments"></i>Notícias</a></li>
						</ul>
					<!-- END .game-menu -->
					</div>
					<div>
						<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<!-- Cabeçalho Responsivo -->
						<ins class="adsbygoogle"
						     style="display:block"
						     data-ad-client="ca-pub-8655806429950106"
						     data-ad-slot="8764496876"
						     data-ad-format="auto"></ins>
						<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
					</div>
					<h2 style="margin-top: 20px;"><span>Últimas notícias</span></h2>
					<div class="content-padding">
						
						<% @articles.each do |a| %> 
						<div class="article-promo">
							<div class="article-photo">
								<span class="article-image-out">
									<span class="article-image">
										<% a.article_documents.each do |image| %>
											<% if image.document_type === "Thumb" %>
												<a href="<% if a.game != nil %>/<%= a.game.friendly_url %><% end %>/<%= a.article_type.downcase %>/<%= a.friendly_url %>"><img src="/images/<%= image.document.id %>/<%= image.document.file_name %>" alt="" title="" /></a>
											<% end %>
										<% end %>
									</span>
								</span>
							</div>
							
							<div class="article-content">
								<h3><a href="<% if a.game != nil %>/<%= a.game.friendly_url %><% end %>/<%= a.article_type.downcase %>/<%= a.friendly_url %>"><%= truncate(a.title, length: 75) %></a></h3>
								<div class="article-icons">
								</div>
								<p><%= truncate(a.preview, length: 120) %></p>
								<a href="<% if a.game != nil %>/<%= a.game.friendly_url %><% end %>/<%= a.article_type.downcase %>/<%= a.friendly_url %>" class="defbutton"><i class="fa fa-reply"></i>Leia completa</a>
							</div>
						</div>

						<div class="clear-float do-the-split"></div>

						<% end %>
						
						<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<!-- Footer artigos -->
						<ins class="adsbygoogle"
						     style="display:block"
						     data-ad-client="ca-pub-8655806429950106"
						     data-ad-slot="9337429679"
						     data-ad-format="auto"></ins>
						<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
					</div>

				</div>

				<div class="clear-float"></div>
				
			</div>
		</div>
	</section>
	</div>
</div>

<script type='application/ld+json'>
{
    "@context":"http://schema.org",
    "@type":"WebSite",
    "url":"https://www.wahiga.com",
    "name":"Wahiga",
    "description":"Wahiga é o seu portal de notícias para games, filmes, seriados e nerd cult. Fique antenado com as novidades para  PS4, Xbox One, PS3, Xbox 360, Wii U, PS Vita, Wii, PC. Dicas, Reviews, trailers, detonados, e muito mais."
}
</script>
<script type='application/ld+json'>
{
    "@context":"http://schema.org",
    "@type":"Organization",
    "url":"https://www.wahiga.com",
    "name":"Wahiga",
    "sameAs":[ "https://plus.google.com/b/102118188486502639269/102118188486502639269", "http://www.facebook.com/Wahiga.Official/", "http://www.twitter.com/wahiga.official/", "https://www.youtube.com/channel/UCsm4Ik888MakSXbc6t8XBnA"],
    "logo":"https://www.wahiga.com/assets/images/wahiga_logo_2.png"
}