<div id="slider-imgs">
	<div class="featured-img-box">
		<div id="featured-img-1" class="featured-img"></div>
	</div>
	<!-- END #slider-imgs -->
</div>

<div id="top-layer">
	<div id="header-top">
		<%= render '/home/wrapper_top' %>
	</div>
	<section id="content">
		<%= render '/home/header' %>
		<div id="main-box" class="full-width" style="margin-top: 100px;">
					
			<div id="main" itemscope="" itemtype="http://data-vocabulary.org/Review">
				<div class="game-info-left">
					<img itemprop="image" src="/assets/images/posters/2351232-tomb_raider.jpg" class="game-poster" alt="" />
					<div class="game-info-details">
						<div class="game-info-buttons">
							<a href="games-single-video-single.html" class="defbutton"><i class="fa fa-film"></i>Veja o trailer</a>
						</div>
						<% if @game.wahiga_rating != nil %>
							<div class="game-info-rating">
								<h3>Wahiga Review</h3>
								<hr />
								<strong itemprop="rating"><%= @game.wahiga_rating %></strong>
								<div class="rating-stars">
									<div class="rating-stars-inner" style="width: <%= @game.wahiga_rating * 20 %>%;"></div>
								</div>
							</div>
						<% end %>
						<div class="game-info-buttons">
						</div>
						<div class="game-info-graph">
							<div>
								<span>Data de Lançamento</span>
								<% if @game.release_date != nil %>
									<strong itemprop="datePublished" content="<%= @game.release_date.strftime("%d/%m/%Y") %>"><%= @game.release_date.strftime("%d/%m/%Y") %></strong>
								<% end %>
							</div>
							<div>
								<span>Desenvolvedor</span>
								<strong>
								<% @developers.each do |dev| %>
										<%= dev.company.name.camelize %> <br/>
									<% end %>	
								</strong>
							</div>
							<div>
								<span>Publicadora</span>
								<strong>
									<% @publishers.each do |pub| %>
										<%= pub.company.name.camelize %> <br/>
									<% end %>	
								</strong>
							</div>
							<div>
								<span>Gênero</span>
								<strong itemprop="applicationCategory"><% if @game.genre != nil %>
																		<% if @game.genre.index(",") != nil %>
																			<% @game.genre.split(",").each do |splited| %>
																				<%= splited.camelize %><br/>
																			<% end %> 
																		<% else %>
																			<%= @game.genre.camelize %>
																		<% end %>
																	<% end %></strong>
							</div>
							<meta itemprop="reviewer" content="Datcouch.com">
						</div>
					</div>
				</div>
				<div class="game-info-right">

					<!-- BEGIN .game-menu -->
					<div class="game-menu" style="border-bottom: 5px solid #921913;">
						<div class="game-overlay-info">
							<h1 itemprop="itemreviewed"><%= @game.name %><span></span></h1>
						</div>
						<ul>
							<li><a href="/<%= @game.friendly_url %>"><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;Informações</a></li>
							<li class="active" style="background-color: #921913;"><a href="games-single-news.html"><i class="fa fa-comments"></i>Notícias</a></li>
						</ul>
					<!-- END .game-menu -->
					</div>

					<h2><span>Últimas notícias</span></h2>
					<div class="content-padding">
						
						<% @articles.each do |a| %> 
						<div class="article-promo">
							<div class="article-photo">
								<span class="article-image-out">
									<span class="article-image">
										<% a.article_documents.each do |image| %>
											<% if image.document_type === "Thumb" %>
												<a href="<% if a.game != nil %>/<%= a.game.friendly_url %><% end %>/<%= a.article_type.downcase %>/<%= a.friendly_url %>"><img src="/images/<%= image.document.id %>/<%= image.document.file_name %>" alt="" title="" /></a>
											<% end %>
										<% end %>
									</span>
								</span>
							</div>
							
							<div class="article-content">
								<h3><a href="<% if a.game != nil %>/<%= a.game.friendly_url %><% end %>/<%= a.article_type.downcase %>/<%= a.friendly_url %>"><%= truncate(a.title, length: 75) %></a></h3>
								<div class="article-icons">
								</div>
								<p><%= truncate(a.preview, length: 120) %></p>
								<a href="<% if a.game != nil %>/<%= a.game.friendly_url %><% end %>/<%= a.article_type.downcase %>/<%= a.friendly_url %>" class="defbutton"><i class="fa fa-reply"></i>Leia completa</a>
							</div>
						</div>

						<div class="clear-float do-the-split"></div>

						<% end %>
						
					</div>

				</div>

				<div class="clear-float"></div>
				
			</div>
		</div>
	</section>
	</div>
</div>