<div id="slider-imgs">
	<div class="featured-img-box">
		<div id="featured-img-1" class="featured-img"></div>
	</div>
	<!-- END #slider-imgs -->
</div>

<div id="top-layer">
	<div id="header-top">
		<%= render '/home/wrapper_top' %>
	</div>
	<section id="content">
		<%= render '/home/header' %>
		<div id="main-box" class="full-width" style="margin-top: 100px;">
					
			<div id="main" itemscope="" itemtype="http://data-vocabulary.org/Review">
				<%= render '/games/game_info' %>
				<div class="game-info-right">

					<!-- BEGIN .game-menu -->
					<div class="game-menu" style="border-bottom: 5px solid #921913;">
						<div class="game-overlay-info">
							<h1 itemprop="itemreviewed"><%= @game.name %><span></span></h1>
						</div>
						<ul>
							<li class="active" style="background-color: #921913;"><a href="/<%= @game.friendly_url %>"><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;Informações</a></li>
							<li><a href="/<%= @game.friendly_url %>/news"><i class="fa fa-comments"></i>Notícias</a></li>
						</ul>
					<!-- END .game-menu -->
					</div>
					<h2><span>Sobre</span></h2>
					<div class="content-padding">
						<p><%= @game.description %></p>
					
					</div>
				</div>

				<div class="clear-float"></div>
				
			</div>
		</div>
	</section>
	</div>
</div>

<script type='application/ld+json'>
{
    "@context":"http://schema.org",
    "@type":"WebSite",
    "url":"https://www.wahiga.com",
    "name":"Wahiga",
    "description":"Wahiga é o seu portal de notícias para games, filmes, seriados e nerd cult. Fique antenado com as novidades para  PS4, Xbox One, PS3, Xbox 360, Wii U, PS Vita, Wii, PC. Dicas, Reviews, trailers, detonados, e muito mais."
}
</script>
<script type='application/ld+json'>
{
    "@context":"http://schema.org",
    "@type":"Organization",
    "url":"https://www.wahiga.com",
    "name":"Wahiga",
    "sameAs":[ "https://plus.google.com/b/102118188486502639269/102118188486502639269", "http://www.facebook.com/Wahiga.Official/", "http://www.twitter.com/wahiga.official/", "https://www.youtube.com/channel/UCsm4Ik888MakSXbc6t8XBnA"],
    "logo":"https://www.wahiga.com/assets/images/wahiga_logo_2.png"
}