<!DOCTYPE html>
<html>
<head>

	<title>Admnin Wahiga</title>
	<%= stylesheet_link_tag    'admapplication', media: 'all' %>
	<!-- <link rel="canonical" href="https://www.wahiga.com" /> -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
	<link href="/assets/css/nifty.min.css" rel="stylesheet">
	<link href="/assets/css/demo/nifty-demo-icons.min.css" rel="stylesheet">
	<link href="/assets/plugins/magic-check/css/magic-check.min.css" rel="stylesheet">
	<link href="/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
 	<link href="/assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.css" rel="stylesheet">
	<link href="/assets/plugins/pace/pace.min.css" rel="stylesheet">
	<link href="/assets/plugins/summernote/summernote.min.css" rel="stylesheet">
	<link href="/assets/premium/icon-sets/icons/line-icons/premium-line-icons.css" rel="stylesheet">
	<link href="/assets/css/bootstrap-select.css" rel="stylesheet">
	<link href="/assets/plugins/ionicons/css/ionicons.min.css" rel="stylesheet">
	<script src="/assets/plugins/ng-upload-file/ng-file-upload-shim.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<%= javascript_include_tag 'admapplication' %>
	<%= csrf_meta_tags %>
	<script src="/assets/plugins/pace/pace.min.js"></script>
	<script src="/assets/js/jquery-2.2.4.min.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	<script src="/assets/js/nifty.min.js"></script>
	<script src="/assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
	<script src="/assets/plugins/summernote/summernote.js"></script>
	<script src="/assets/plugins/ng-upload-file/ng-file-upload.min.js"></script>
	<script src="/assets/js/bootstrap-select.js"></script>
	<script src="//connect.facebook.net/en_US/sdk.js"></script>
	<script src="https://apis.google.com/js/platform.js?publisherid=102118188486502639269"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body ng-app="admin-module">
	<div id="container" class="effect aside-float aside-bright mainnav-lg">
		<!--NAVBAR-->
		<!--===================================================-->
		<%= render '/private/template/navbar' %>
		<!--===================================================-->
		<!--END NAVBAR-->

		<div class="boxed">

			<!--CONTENT CONTAINER-->
			<!--===================================================-->
			<%= yield %>
			<!--===================================================-->
			<!--END CONTENT CONTAINER-->



			<!--ASIDE-->
			<!--=================================================== Menu direito -->
			<%= render '/private/template/aside' %> 
			<!--===================================================-->
			<!--END ASIDE-->


			<!--MAIN NAVIGATION  Menu esquerdo -->
			<!--===================================================-->
			<%= render '/private/template/navleft' %>
			<!--===================================================-->
			<!--END MAIN NAVIGATION-->

		</div>



		<!-- FOOTER -->
		<!--===================================================-->
		<%= render 'private/template/footer'%>
		<!--===================================================-->
		<!-- END FOOTER -->


		<!-- SCROLL PAGE BUTTON -->
		<!--===================================================-->
		<button class="scroll-top btn">
			<i class="pci-chevron chevron-up"></i>
		</button>
		<!--===================================================-->



	</div>


</body>

</html>